﻿@model WebApplication6.Models.Translations

@{
    ViewBag.Title = "Create";
}
<!DOCTYPE html>
<html>
<h2>Translate this text:</h2>
@{Html.BeginForm("Create", "Translations");

}
<body>
    @Html.TextBox("TextBefore", "Write here your text", new { @class = "form-control" })
    <p><button type="submit">Translate</button></p>

    <h2>Your translated text:</h2>
    @ViewBag.Message
</body>
@{ 
    Html.EndForm();
}
</html>