﻿@model IEnumerable<WebApplication6.Models.Languages>

@{
    ViewBag.Title = "Index";
}

<h2>List of all available languages:</h2>

<table class="table">
    <tr>
        <th>
            Id language
        </th>
        <th>
            Language name
        </th>
        <th>
            Choose this language
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id_language)
        </td>
        <td>
            Leetspeak
        </td>
        <td>
            <a target="_blank" class="btn btn-info" href="../Translations/Create">Click</a>
        </td>
    </tr>
}

</table>
