﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Jacek Kubiak<br />
    Zachodnia 35/4 Wrocław<br />
    <abbr title="Phone">P:</abbr>
    720-780-226
</address>

<address>
    <strong>Support:</strong> <a href="mailto:jkubiak26@gmail.com">jkubiak26@gmail.com</a><br />
</address>
